.dinosaur{
    text-align: center;
}


.teeth{
    font-size:60px;
    color: black;
}

.land{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    min-height: 100vh;
}

.god{
    overflow: hidden;
}

a {
    text-decoration: none; 
    color: black; 
}
